body{
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video-grid{
    display: grid ;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
    height: calc(100vh - 80px);
}

.tile {
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }

  .tile video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
}

.controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #756b6b;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: #666;
}

/* Dynamic tile resizing for up to 9 participants */
.video-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}